#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #56657b;
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;             
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #475569;   
  border-radius: 9999px;   
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

